@import '../variable/edgeVariable';


// prefix : edge-checkbox

.edge-checkbox-flex-container-row {
  display: flex;
  flex-direction: row;
}

.edge-checkbox-flex-container-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.edge-checkbox-flex-container-column {
  display: flex;
  flex-direction: column;
}

.edge-checkbox-flex-container-align-start {
  align-items: flex-start;
}

.edge-checkbox-flex-container-align-end {
  align-items: flex-end;
}

.edge-checkbox-flex-container-align-center {
  align-items: center;
}

.edge-checkbox-flex-container-justify-start {
  justify-content: flex-start;
}

.edge-checkbox-flex-container-justify-end {
  justify-content: flex-end;
}

.edge-checkbox-flex-container-justify-center {
  justify-content: center;
}

.edge-checkbox-flex-container-justify-between {
  justify-content: space-between;
}

.edge-checkbox-flex-container-justify-around {
  justify-content: space-around;
}

.edge-checkbox-pa-1 {
  padding : 2px;
}

.edge-checkbox-pa-2 {
  padding : 4px;
}

.edge-checkbox-pa-3 {
  padding : 6px;
}

.edge-checkbox-pa-4 {
  padding : 8px;
}

.edge-checkbox-wrap {
  padding: 0.25rem;
}


input[type=checkbox] {
  margin-left: 0;
  padding: 0;
  display: none;
}

label {
  cursor: pointer;
}

.edge-checkbox-check-icon {
  display: flex;
  align-items: center;
  color: #b3b3b3;
  padding-right: 0.3rem;
  svg {
    width: 16px;
    height: 16px;
  }
}

input[type=checkbox]:checked + .edge-checkbox-check-icon {
  display: flex;
  align-items: center;
  color: $gray;
}

label > span {
  font-size: $normal-font-size;
}

.edge-checkbox-small {
  > span {
    font-size: $small-font-size;
  }

  .edge-checkbox-check-icon {
    svg {
      width: 14px;
      height: 14px;
    }
  }

}

.edge-checkbox-large {
  > span {
    font-size: $large-font-size;
  }

  .edge-checkbox-check-icon {
    svg {
      width: 18px;
      height: 18px;
    }
  }

}

.edge-checkbox-primary {
  .edge-checkbox-check-icon {
    color : rgba($primary-color, 0.3);
  }

  input[type=checkbox]:checked + .edge-checkbox-check-icon {
    color: $primary-color;
  }
}

.edge-checkbox-primary-light {
  .edge-checkbox-check-icon {
    color : rgba($primary-color-light, 0.3);
  }

  input[type=checkbox]:checked + .edge-checkbox-check-icon {
    color: $primary-color-light;
  }
}

.edge-checkbox-primary-dark {
  .edge-checkbox-check-icon {
    color : rgba($primary-color-dark, 0.3);
  }

  input[type=checkbox]:checked + .edge-checkbox-check-icon {
    color: $primary-color-dark;
  }
}

// disabled
.edge-checkbox-disabled {
  cursor: not-allowed;
  opacity: $disabled-opacity;
}