

$primary-color-light : #4da3ff; // 65%
$primary-color : #007bff; // 50%
$primary-color-dark : #0056b3; // 35%

$red-color-light : #e46774; // 65%
$red-color : #d92638; // 50%
$red-color-dark : #981b27; // 35%

$lime-color-light : #b2f15b; // 65%
$lime-color : #91eb14; // 50%
$lime-color-dark : #66a40e; // 35%

$violet-color-light : #8e76d5; // 65%
$violet-color : #5f3dc4; // 50%
$violet-color-dark : #422a89; // 35%

$indigo-color-light : #7384d9; // 65%
$indigo-color : #364fc7; // 50%
$indigo-color-dark : #26378c; // 35%

$gray-light : #444d55; // 30%
$gray : #333333; // 20%
$gray-dark : #1a1a1a; // 10%


$disabled-opacity : 0.65;

$small-font-size : 15px;
$normal-font-size : 17px;
$large-font-size : 19px;